<div class="row">
  <div class="col-12">
    <h2>Cryptocurrency Trade Center</h2>
    <label>Currency Name</label>
    <input type="text" class="form-control" [(ngModel)]="newCryptoName">
    <label>Currency Amount</label>
    <input type="text" class="form-control" [(ngModel)]="newCryptoAmount">
    <br>
    <button
      class="btn btn-success"
      (click)="onBuyCrypto()">Buy Crypto</button> &nbsp;
    <button
      class="btn btn-danger"
      (click)="onSellCrypto()">Sell Crypto</button>
  </div>
</div>